{% include "blog/base.html" %}
{% block content %}
	<div class="subpage">
        <div id="main">
            <section class="wrapper style1">
                <div class="inner">
                    <header class="align-center">
                        <h2>Our Team</h2>
                        <p>Get to know us!</p>
                    </header>
                    <div class="flex flex-3">
                        <div class="col align-center">
                            <div class="image round fit">
                                <img src="/assets/images/pic03.jpg" alt="" />
                            </div>
                            <h4>Kiranmayee</h4>
                            <a href="https://www.linkedin.com/in/abhinavdayal/" target="_blank" class="button">Learn More</a>
                        </div>
                        <div class="col align-center">
                            <div class="image round fit">
                                <img src="/assets/images/pic05.jpg" alt="" />
                            </div>
                            <h4>Shreya</h4>
                            <a href="https://www.linkedin.com/in/sajid-vali-a81b0b142/" target="_blank" class="button">Learn More</a>
                        </div>
                        <div class="col align-center">
                            <div class="image round fit">
                                <img src="/assets/images/pic04.jpg" alt="" />
                            </div>
                            <h4>Mounica</h5>
                            <a href="https://www.linkedin.com/in/susmitha-lalam-a690ba144/" target="_blank" class="button">Learn More</a>
                        </div>
                        <div class="col align-center">
                            <div class="image round fit">
                                <img src="/assets/images/pic04.jpg" alt="" />
                            </div>
                            <h4>Preeti</h4>
                            <a href="https://www.linkedin.com/in/susmitha-lalam-a690ba144/" target="_blank" class="button">Learn More</a>
                        </div>
                        <div class="col align-center">
                            <div class="image round fit">
                                <img src="/assets/images/pic04.jpg" alt="" />
                            </div>
                            <h4>Ramya Bhargavi</h4>
                            <a href="https://www.linkedin.com/in/susmitha-lalam-a690ba144/" target="_blank" class="button">Learn More</a>
                        </div>
                        <div class="col align-center">
                            <div class="image round fit">
                                <img src="../../../media/images/SusmithaLalam.jpeg" alt="" />
                            </div>
                            <h4>Susmitha Lalam</h4>
                            <a href="https://www.linkedin.com/in/susmitha-lalam-a690ba144/" target="_blank" class="button">Learn More</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
