{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}

        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'timeline' post.author.pk %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
              {% if post.image %}
              <img class="img-rounded" src="{{ post.image.url }}" style="width: 40%; float: left; margin-right: 10px;">
              {% endif %}
              {% if post.title %}
                 <h2 class="article-title">{{ post.title }}</h2>
            {% endif %}
            {% if post.caption %}
                <p class="article-content">{{ post.caption }}</p>
            {% endif %}
          </div>
            <h5><a class="article-title" href="{% url 'upload-detail' post.id %}">view</a></h5>
        </article>

    {% endfor %}
{% endblock content %}
